*{
    padding: 0;
    margin: 0;
}
.bg-img {
    background-image: url("./assets/logo.jpg");
    min-height: 380px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    font-size: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bg-img button{
    margin-top:  auto;
    margin-bottom: 15px;
    background-color: #9B9B9B;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sobre{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 480px;
  }
  .sobre h1{
    font-size: 55px;
    color: #fff;
  }
  .sobre p{
    width: 480px;
    font-size: 20px;
  }

  .sobre img{
    margin-top: 15px;
    width: 480px;
  }

  .servicos{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 380px;
  }

  .servicos h1{
    font-size: 50px;
    color: #fff;
  }

  .f{
    margin-top: 50px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .f li a{
    list-style: none;
    text-decoration: none;
  }

 

/* CSS Responsivo */

@media (max-width: 980px) {
  .bg-img {
    min-height: 250px;
    height: 400px;
    font-size: 40px;
  }

  .sobre {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .sobre h1 {
    font-size: 40px;
  }

  .sobre p {
    width: 100%;
  }

  .sobre img {
    width: 80%;
    height: auto;
  }

  .servicos {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .servicos h1 {
    font-size: 40px;
  }

  .f {
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
  }
}