*{
    background-color: black;
}
.nav{
    display: flex;
    align-items: start;
    margin: 10px;
}
.nav button{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.cab{
  text-align: center;
  color: #fff;
}

.horarios{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  border: 1px solid #fff;
  color: #fff;
  width: 600px;
  margin-top: 5px;
}

.avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.redes{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

button{
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
  margin: 5px;
}

p{
  padding: 10px;
  font-size: 20px;
}

li{
  list-style: none;
}

img{
  border-radius: 100%;
  width: 190px;
  margin-right: 5px;
}
  
  